@shared --color-red from "./base.vars.css";
@shared --base-width from "./base.vars.css";

:root {
  --current-height: 3px;
}

.test1 {
  color: var(--color-red);
}

.test2 {
  width: var(--base-width);
  height: var(--current-height);
}
